<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.skytech.api.mapper.TEventMembersMapper">
    <select id="selectJoinedNumByEventId" parameterType="java.lang.Integer" resultType="java.lang.Integer" >

      SELECT COUNT(event_id) FROM t_event_members WHERE event_id = #{param1}
</select>
</mapper>