<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.skytech.api.mapper.AccountMapper" >
    <resultMap id="BaseResultMap" type="com.skytech.api.model.Account" >
        <id column="sid" property="sid" jdbcType="VARCHAR" />
        <result column="first_name" property="firstName" jdbcType="VARCHAR" />
        <result column="last_name" property="lastName" jdbcType="VARCHAR" />
        <result column="email" property="email" jdbcType="VARCHAR" />
        <result column="password" property="password" jdbcType="VARCHAR" />
        <result column="avarta" property="avarta" jdbcType="VARCHAR" />
        <result column="gender" property="gender" jdbcType="TINYINT" />
        <result column="age" property="age" jdbcType="INTEGER" />
        <result column="height" property="height" jdbcType="INTEGER" />
        <result column="weight" property="weight" jdbcType="INTEGER" />
        <result column="step_target" property="stepTarget" jdbcType="INTEGER" />
        <result column="register_datetime" property="registerDatetime" jdbcType="TIMESTAMP" />
        <result column="updated_datetime" property="updatedDatetime" jdbcType="TIMESTAMP" />
        <result column="lockintime" property="lockintime" jdbcType="TIMESTAMP" />
    </resultMap>
    <sql id="Example_Where_Clause" >
        <where >
            <foreach collection="oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                    #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>

    <sql id="Update_By_Example_Where_Clause" >
        <where >
            <foreach collection="example.oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                    #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List" >
        sid,first_name,last_name,email,password,avarta,gender,age,height,weight,step_target,register_datetime,updated_datetime,lockintime
    </sql>
    <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.skytech.api.model.AccountExample" >
        select
        <if test="distinct" >
            distinct
        </if>
        <include refid="Base_Column_List" />
        from account
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
        <if test="orderByClause != null" >
            order by ${orderByClause}
        </if>
        <if test="pagination != null and pagination.begin >= 0" >
            limit #{pagination.begin}, #{pagination.pageSize}
        </if>
    </select>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
        select
        <include refid="Base_Column_List" />
        from account
        where sid = #{sid,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
        delete from account
        where sid = #{sid,jdbcType=VARCHAR}
    </delete>

    <delete id="deleteByExample" parameterType="com.skytech.api.model.AccountExample" >
        delete from account
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </delete>

    <insert id="insert" parameterType="com.skytech.api.model.Account" >
        insert into account (
        sid,
        first_name,
        last_name,
        email,
        password,
        avarta,
        gender,
        age,
        height,
        weight,
        step_target,
        register_datetime,
        updated_datetime
        )
        values (
        #{sid,jdbcType=VARCHAR},
        #{firstName,jdbcType=VARCHAR},
        #{lastName,jdbcType=VARCHAR},
        #{email,jdbcType=VARCHAR},
        #{password,jdbcType=VARCHAR},
        #{avarta,jdbcType=VARCHAR},
        #{gender,jdbcType=TINYINT},
        #{age,jdbcType=INTEGER},
        #{height,jdbcType=INTEGER},
        #{weight,jdbcType=INTEGER},
        #{stepTarget,jdbcType=INTEGER},
        #{registerDatetime,jdbcType=TIMESTAMP},
        #{updatedDatetime,jdbcType=TIMESTAMP}
        )
    </insert>

    <insert id="insertSelective" parameterType="com.skytech.api.model.Account" >
        insert into account
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="sid != null" >
            sid,
            </if>
            <if test="firstName != null" >
            first_name,
            </if>
            <if test="lastName != null" >
            last_name,
            </if>
            <if test="email != null" >
            email,
            </if>
            <if test="password != null" >
            password,
            </if>
            <if test="avarta != null" >
            avarta,
            </if>
            <if test="gender != null" >
            gender,
            </if>
            <if test="age != null" >
            age,
            </if>
            <if test="height != null" >
            height,
            </if>
            <if test="weight != null" >
            weight,
            </if>
            <if test="stepTarget != null" >
            step_target,
            </if>
            <if test="registerDatetime != null" >
            register_datetime,
            </if>
            <if test="updatedDatetime != null" >
            updated_datetime
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >

            <if test="sid != null" >
                #{sid,jdbcType=VARCHAR},
            </if>
            <if test="firstName != null" >
                #{firstName,jdbcType=VARCHAR},
            </if>
            <if test="lastName != null" >
                #{lastName,jdbcType=VARCHAR},
            </if>
            <if test="email != null" >
                #{email,jdbcType=VARCHAR},
            </if>
            <if test="password != null" >
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="avarta != null" >
                #{avarta,jdbcType=VARCHAR},
            </if>
            <if test="gender != null" >
                #{gender,jdbcType=TINYINT},
            </if>
            <if test="age != null" >
                #{age,jdbcType=INTEGER},
            </if>
            <if test="height != null" >
                #{height,jdbcType=INTEGER},
            </if>
            <if test="weight != null" >
                #{weight,jdbcType=INTEGER},
            </if>
            <if test="stepTarget != null" >
                #{stepTarget,jdbcType=INTEGER},
            </if>
            <if test="registerDatetime != null" >
                #{registerDatetime,jdbcType=TIMESTAMP},
            </if>
            <if test="updatedDatetime != null" >
                #{updatedDatetime,jdbcType=TIMESTAMP}
            </if>
        </trim>
    </insert>

    <select id="countByExample" parameterType="com.skytech.api.model.AccountExample" resultType="java.lang.Integer" >
        select count(*) from account
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </select>

    <update id="updateByExampleSelective" parameterType="map" >
        update account
        <set >
            <if test="sid != null" >
            sid= #{sid,jdbcType=VARCHAR},
            </if>
            <if test="firstName != null" >
            first_name= #{firstName,jdbcType=VARCHAR},
            </if>
            <if test="lastName != null" >
            last_name= #{lastName,jdbcType=VARCHAR},
            </if>
            <if test="email != null" >
            email= #{email,jdbcType=VARCHAR},
            </if>
            <if test="password != null" >
            password= #{password,jdbcType=VARCHAR},
            </if>
            <if test="avarta != null" >
            avarta= #{avarta,jdbcType=VARCHAR},
            </if>
            <if test="gender != null" >
            gender= #{gender,jdbcType=TINYINT},
            </if>
            <if test="age != null" >
            age= #{age,jdbcType=INTEGER},
            </if>
            <if test="height != null" >
            height= #{height,jdbcType=INTEGER},
            </if>
            <if test="weight != null" >
            weight= #{weight,jdbcType=INTEGER},
            </if>
            <if test="stepTarget != null" >
            step_target= #{stepTarget,jdbcType=INTEGER},
            </if>
            <if test="registerDatetime != null" >
            register_datetime= #{registerDatetime,jdbcType=TIMESTAMP},
            </if>
            <if test="updatedDatetime != null" >
            updated_datetime= #{updatedDatetime,jdbcType=TIMESTAMP}
            </if>
        </set>
        <if test="_parameter != null" >
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>

    <update id="updateByExample" parameterType="map" >
        update account
        set
        sid= #{sid,jdbcType=VARCHAR},
        first_name= #{firstName,jdbcType=VARCHAR},
        last_name= #{lastName,jdbcType=VARCHAR},
        email= #{email,jdbcType=VARCHAR},
        password= #{password,jdbcType=VARCHAR},
        avarta= #{avarta,jdbcType=VARCHAR},
        gender= #{gender,jdbcType=TINYINT},
        age= #{age,jdbcType=INTEGER},
        height= #{height,jdbcType=INTEGER},
        weight= #{weight,jdbcType=INTEGER},
        step_target= #{stepTarget,jdbcType=INTEGER},
        register_datetime= #{registerDatetime,jdbcType=TIMESTAMP},
        updated_datetime= #{updatedDatetime,jdbcType=TIMESTAMP}
        <if test="_parameter != null" >
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.skytech.api.model.Account" >
        update account
        <set >
            <if test="sid != null" >
                sid= #{sid,jdbcType=VARCHAR},
            </if>
            <if test="firstName != null" >
                first_name= #{firstName,jdbcType=VARCHAR},
            </if>
            <if test="lastName != null" >
                last_name= #{lastName,jdbcType=VARCHAR},
            </if>
            <if test="email != null" >
                email= #{email,jdbcType=VARCHAR},
            </if>
            <if test="password != null" >
                password= #{password,jdbcType=VARCHAR},
            </if>
            <if test="avarta != null" >
                avarta= #{avarta,jdbcType=VARCHAR},
            </if>
            <if test="gender != null" >
                gender= #{gender,jdbcType=TINYINT},
            </if>
            <if test="age != null" >
                age= #{age,jdbcType=INTEGER},
            </if>
            <if test="height != null" >
                height= #{height,jdbcType=INTEGER},
            </if>
            <if test="weight != null" >
                weight= #{weight,jdbcType=INTEGER},
            </if>
            <if test="stepTarget != null" >
                step_target= #{stepTarget,jdbcType=INTEGER},
            </if>
            <if test="registerDatetime != null" >
                register_datetime= #{registerDatetime,jdbcType=TIMESTAMP},
            </if>
            <if test="updatedDatetime != null" >
                updated_datetime= #{updatedDatetime,jdbcType=TIMESTAMP},
            </if>
            <if test="lockintime != null" >
                lockintime= #{lockintime,jdbcType=TIMESTAMP}
            </if>
        </set>
        where sid = #{sid,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.skytech.api.model.Account" >
        update account
        set
        sid= #{sid,jdbcType=VARCHAR},
        first_name= #{firstName,jdbcType=VARCHAR},
        last_name= #{lastName,jdbcType=VARCHAR},
        email= #{email,jdbcType=VARCHAR},
        password= #{password,jdbcType=VARCHAR},
        avarta= #{avarta,jdbcType=VARCHAR},
        gender= #{gender,jdbcType=TINYINT},
        age= #{age,jdbcType=INTEGER},
        height= #{height,jdbcType=INTEGER},
        weight= #{weight,jdbcType=INTEGER},
        step_target= #{stepTarget,jdbcType=INTEGER},
        register_datetime= #{registerDatetime,jdbcType=TIMESTAMP},
        updated_datetime= #{updatedDatetime,jdbcType=TIMESTAMP},
        lockintime= #{lockintime,jdbcType=TIMESTAMP}
        where sid = #{sid,jdbcType=VARCHAR}
    </update>
</mapper>