<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.skytech.api.mapper.DeviceMapper" >
    <resultMap id="BaseResultMap" type="com.skytech.api.model.Device" >
        <id column="sid" property="sid" jdbcType="VARCHAR" />
        <result column="model" property="model" jdbcType="VARCHAR" />
        <result column="device_id" property="deviceId" jdbcType="VARCHAR" />
        <result column="batch" property="batch" jdbcType="VARCHAR" />
        <result column="created_datetime" property="createdDatetime" jdbcType="TIMESTAMP" />
    </resultMap>
    <sql id="Example_Where_Clause" >
        <where >
            <foreach collection="oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                    #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>

    <sql id="Update_By_Example_Where_Clause" >
        <where >
            <foreach collection="example.oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                    #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List" >
        sid,model,device_id,batch,created_datetime
    </sql>
    <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.skytech.api.model.DeviceExample" >
        select
        <if test="distinct" >
            distinct
        </if>
        <include refid="Base_Column_List" />
        from device
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
        <if test="orderByClause != null" >
            order by ${orderByClause}
        </if>
        <if test="pagination != null and pagination.begin >= 0" >
            limit #{pagination.begin}, #{pagination.pageSize}
        </if>
    </select>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
        select
        <include refid="Base_Column_List" />
        from device
        where sid = #{sid,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
        delete from device
        where sid = #{sid,jdbcType=VARCHAR}
    </delete>

    <delete id="deleteByExample" parameterType="com.skytech.api.model.DeviceExample" >
        delete from device
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </delete>

    <insert id="insert" parameterType="com.skytech.api.model.Device" >
        insert into device (
        sid,
        model,
        device_id,
        batch,
        created_datetime
        )
        values (
        #{sid,jdbcType=VARCHAR},
        #{model,jdbcType=VARCHAR},
        #{deviceId,jdbcType=VARCHAR},
        #{batch,jdbcType=VARCHAR},
        #{createdDatetime,jdbcType=TIMESTAMP}
        )
    </insert>

    <insert id="insertSelective" parameterType="com.skytech.api.model.Device" >
        insert into device
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="sid != null" >
            sid,
            </if>
            <if test="model != null" >
            model,
            </if>
            <if test="deviceId != null" >
            device_id,
            </if>
            <if test="batch != null" >
            batch,
            </if>
            <if test="createdDatetime != null" >
            created_datetime
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >

            <if test="sid != null" >
                #{sid,jdbcType=VARCHAR},
            </if>
            <if test="model != null" >
                #{model,jdbcType=VARCHAR},
            </if>
            <if test="deviceId != null" >
                #{deviceId,jdbcType=VARCHAR},
            </if>
            <if test="batch != null" >
                #{batch,jdbcType=VARCHAR},
            </if>
            <if test="createdDatetime != null" >
                #{createdDatetime,jdbcType=TIMESTAMP}
            </if>
        </trim>
    </insert>

    <select id="countByExample" parameterType="com.skytech.api.model.DeviceExample" resultType="java.lang.Integer" >
        select count(*) from device
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </select>

    <update id="updateByExampleSelective" parameterType="map" >
        update device
        <set >
            <if test="sid != null" >
            sid= #{sid,jdbcType=VARCHAR},
            </if>
            <if test="model != null" >
            model= #{model,jdbcType=VARCHAR},
            </if>
            <if test="deviceId != null" >
            device_id= #{deviceId,jdbcType=VARCHAR},
            </if>
            <if test="batch != null" >
            batch= #{batch,jdbcType=VARCHAR},
            </if>
            <if test="createdDatetime != null" >
            created_datetime= #{createdDatetime,jdbcType=TIMESTAMP}
            </if>
        </set>
        <if test="_parameter != null" >
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>

    <update id="updateByExample" parameterType="map" >
        update device
        set
        sid= #{sid,jdbcType=VARCHAR},
        model= #{model,jdbcType=VARCHAR},
        device_id= #{deviceId,jdbcType=VARCHAR},
        batch= #{batch,jdbcType=VARCHAR},
        created_datetime= #{createdDatetime,jdbcType=TIMESTAMP}
        <if test="_parameter != null" >
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.skytech.api.model.Device" >
        update device
        <set >
            <if test="sid != null" >
                sid= #{sid,jdbcType=VARCHAR},
            </if>
            <if test="model != null" >
                model= #{model,jdbcType=VARCHAR},
            </if>
            <if test="deviceId != null" >
                device_id= #{deviceId,jdbcType=VARCHAR},
            </if>
            <if test="batch != null" >
                batch= #{batch,jdbcType=VARCHAR},
            </if>
            <if test="createdDatetime != null" >
                created_datetime= #{createdDatetime,jdbcType=TIMESTAMP}
            </if>
        </set>
        where sid = #{sid,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.skytech.api.model.Device" >
        update device
        set
        sid= #{sid,jdbcType=VARCHAR},
        model= #{model,jdbcType=VARCHAR},
        device_id= #{deviceId,jdbcType=VARCHAR},
        batch= #{batch,jdbcType=VARCHAR},
        created_datetime= #{createdDatetime,jdbcType=TIMESTAMP}
        where sid = #{sid,jdbcType=VARCHAR}
    </update>
</mapper>