<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.skytech.api.mapper.EventMembersMapper" >
    <resultMap id="BaseResultMap" type="com.skytech.api.model.EventMembers" >
        <id column="sid" property="sid" jdbcType="VARCHAR" />
        <result column="event_sid" property="eventSid" jdbcType="VARCHAR" />
        <result column="event_name" property="eventName" jdbcType="VARCHAR" />
        <result column="account_sid" property="accountSid" jdbcType="VARCHAR" />
        <result column="account_name" property="accountName" jdbcType="VARCHAR" />
        <result column="joined_datetime" property="joinedDatetime" jdbcType="TIMESTAMP" />
        <result column="staff_id" property="staffId" jdbcType="TIMESTAMP" />
    </resultMap>
    <sql id="Example_Where_Clause" >
        <where >
            <foreach collection="oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                    #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>

    <sql id="Update_By_Example_Where_Clause" >
        <where >
            <foreach collection="example.oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                    #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List" >
        sid,event_sid,event_name,account_sid,account_name,joined_datetime,staff_id
    </sql>
    <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.skytech.api.model.EventMembersExample" >
        select
        <if test="distinct" >
            distinct
        </if>
        <include refid="Base_Column_List" />
        from event_members
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
        <if test="orderByClause != null" >
            order by ${orderByClause}
        </if>
        <if test="pagination != null and pagination.begin >= 0" >
            limit #{pagination.begin}, #{pagination.pageSize}
        </if>
    </select>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
        select
        <include refid="Base_Column_List" />
        from event_members
        where sid = #{sid,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
        delete from event_members
        where sid = #{sid,jdbcType=VARCHAR}
    </delete>

    <delete id="deleteByExample" parameterType="com.skytech.api.model.EventMembersExample" >
        delete from event_members
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </delete>

    <insert id="insert" parameterType="com.skytech.api.model.EventMembers" >
        insert into event_members (
        sid,
        event_sid,
        event_name,
        account_sid,
        account_name,
        joined_datetime,
        staff_id
        )
        values (
        #{sid,jdbcType=VARCHAR},
        #{eventSid,jdbcType=VARCHAR},
        #{eventName,jdbcType=VARCHAR},
        #{accountSid,jdbcType=VARCHAR},
        #{accountName,jdbcType=VARCHAR},
        #{joinedDatetime,jdbcType=TIMESTAMP},
        #{staffId,jdbcType=VARCHAR}
        )
    </insert>

    <insert id="insertSelective" parameterType="com.skytech.api.model.EventMembers" >
        insert into event_members
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="sid != null" >
            sid,
            </if>
            <if test="eventSid != null" >
            event_sid,
            </if>
            <if test="eventName != null" >
            event_name,
            </if>
            <if test="accountSid != null" >
            account_sid,
            </if>
            <if test="accountName != null" >
            account_name,
            </if>
            <if test="joinedDatetime != null" >
            joined_datetime,
            </if>
            <if test="staffId != null" >
            staff_id
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >

            <if test="sid != null" >
                #{sid,jdbcType=VARCHAR},
            </if>
            <if test="eventSid != null" >
                #{eventSid,jdbcType=VARCHAR},
            </if>
            <if test="eventName != null" >
                #{eventName,jdbcType=VARCHAR},
            </if>
            <if test="accountSid != null" >
                #{accountSid,jdbcType=VARCHAR},
            </if>
            <if test="accountName != null" >
                #{accountName,jdbcType=VARCHAR},
            </if>
            <if test="joinedDatetime != null" >
                #{joinedDatetime,jdbcType=TIMESTAMP},
            </if>
            <if test="staffId != null" >
                #{staffId,jdbcType=VARCHAR}
            </if>
        </trim>
    </insert>

    <select id="countByExample" parameterType="com.skytech.api.model.EventMembersExample" resultType="java.lang.Integer" >
        select count(*) from event_members
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </select>

    <update id="updateByExampleSelective" parameterType="map" >
        update event_members
        <set >
            <if test="sid != null" >
            sid= #{sid,jdbcType=VARCHAR},
            </if>
            <if test="eventSid != null" >
            event_sid= #{eventSid,jdbcType=VARCHAR},
            </if>
            <if test="eventName != null" >
            event_name= #{eventName,jdbcType=VARCHAR},
            </if>
            <if test="accountSid != null" >
            account_sid= #{accountSid,jdbcType=VARCHAR},
            </if>
            <if test="accountName != null" >
            account_name= #{accountName,jdbcType=VARCHAR},
            </if>
            <if test="joinedDatetime != null" >
            joined_datetime= #{joinedDatetime,jdbcType=TIMESTAMP}
            </if>
        </set>
        <if test="_parameter != null" >
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>

    <update id="updateByExample" parameterType="map" >
        update event_members
        set
        sid= #{sid,jdbcType=VARCHAR},
        event_sid= #{eventSid,jdbcType=VARCHAR},
        event_name= #{eventName,jdbcType=VARCHAR},
        account_sid= #{accountSid,jdbcType=VARCHAR},
        account_name= #{accountName,jdbcType=VARCHAR},
        joined_datetime= #{joinedDatetime,jdbcType=TIMESTAMP}
        <if test="_parameter != null" >
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.skytech.api.model.EventMembers" >
        update event_members
        <set >
            <if test="sid != null" >
                sid= #{sid,jdbcType=VARCHAR},
            </if>
            <if test="eventSid != null" >
                event_sid= #{eventSid,jdbcType=VARCHAR},
            </if>
            <if test="eventName != null" >
                event_name= #{eventName,jdbcType=VARCHAR},
            </if>
            <if test="accountSid != null" >
                account_sid= #{accountSid,jdbcType=VARCHAR},
            </if>
            <if test="accountName != null" >
                account_name= #{accountName,jdbcType=VARCHAR},
            </if>
            <if test="joinedDatetime != null" >
                joined_datetime= #{joinedDatetime,jdbcType=TIMESTAMP}
            </if>
        </set>
        where sid = #{sid,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.skytech.api.model.EventMembers" >
        update event_members
        set
        sid= #{sid,jdbcType=VARCHAR},
        event_sid= #{eventSid,jdbcType=VARCHAR},
        event_name= #{eventName,jdbcType=VARCHAR},
        account_sid= #{accountSid,jdbcType=VARCHAR},
        account_name= #{accountName,jdbcType=VARCHAR},
        joined_datetime= #{joinedDatetime,jdbcType=TIMESTAMP}
        where sid = #{sid,jdbcType=VARCHAR}
    </update>
</mapper>