<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.skytech.api.mapper.SleepMapper" >
    <resultMap id="BaseResultMap" type="com.skytech.api.model.Sleep" >
        <id column="sid" property="sid" jdbcType="VARCHAR" />
        <result column="account_sid" property="accountSid" jdbcType="VARCHAR" />
        <result column="account_name" property="accountName" jdbcType="VARCHAR" />
        <result column="data" property="data" jdbcType="VARCHAR" />
        <result column="start_datetime" property="startDatetime" jdbcType="TIMESTAMP" />
        <result column="created_datetime" property="createdDatetime" jdbcType="TIMESTAMP" />
        <result column="end_datetime" property="endDatetime" jdbcType="TIMESTAMP" />
        <result column="device_sid" property="deviceSid" jdbcType="VARCHAR" />
        <result column="record_date" property="recordDate" jdbcType="TIMESTAMP" />
    </resultMap>
    <sql id="Example_Where_Clause" >
        <where >
            <foreach collection="oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                    #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>

    <sql id="Update_By_Example_Where_Clause" >
        <where >
            <foreach collection="example.oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                    #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List" >
        sid,account_sid,account_name,data,start_datetime,created_datetime,end_datetime,device_sid,record_date
    </sql>
    <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.skytech.api.model.SleepExample" >
        select
        <if test="distinct" >
            distinct
        </if>
        <include refid="Base_Column_List" />
        from sleep
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
        <if test="orderByClause != null" >
            order by ${orderByClause}
        </if>
        <if test="pagination != null and pagination.begin >= 0" >
            limit #{pagination.begin}, #{pagination.pageSize}
        </if>
    </select>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
        select
        <include refid="Base_Column_List" />
        from sleep
        where sid = #{sid,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
        delete from sleep
        where sid = #{sid,jdbcType=VARCHAR}
    </delete>

    <delete id="deleteByExample" parameterType="com.skytech.api.model.SleepExample" >
        delete from sleep
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </delete>

    <insert id="insert" parameterType="com.skytech.api.model.Sleep" >
        insert into sleep (
        sid,
        account_sid,
        account_name,
        data,
        start_datetime,
        created_datetime,
        end_datetime,
        device_sid,
        record_date
        )
        values (
        #{sid,jdbcType=VARCHAR},
        #{accountSid,jdbcType=VARCHAR},
        #{accountName,jdbcType=VARCHAR},
        #{data,jdbcType=VARCHAR},
        #{startDatetime,jdbcType=TIMESTAMP},
        #{createdDatetime,jdbcType=TIMESTAMP},
        #{endDatetime,jdbcType=TIMESTAMP},
        #{deviceSid,jdbcType=VARCHAR},
        #{recordDate,jdbcType=TIMESTAMP}
        )
    </insert>

    <insert id="insertSelective" parameterType="com.skytech.api.model.Sleep" >
        insert into sleep
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="sid != null" >
            sid,
            </if>
            <if test="accountSid != null" >
            account_sid,
            </if>
            <if test="accountName != null" >
            account_name,
            </if>
            <if test="data != null" >
            data,
            </if>
            <if test="startDatetime != null" >
            start_datetime,
            </if>
            <if test="createdDatetime != null" >
            created_datetime,
            </if>
            <if test="endDatetime != null" >
            end_datetime,
            </if>
            <if test="deviceSid != null" >
            device_sid,
            </if>
            <if test="recordDate != null" >
            record_date
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >

            <if test="sid != null" >
                #{sid,jdbcType=VARCHAR},
            </if>
            <if test="accountSid != null" >
                #{accountSid,jdbcType=VARCHAR},
            </if>
            <if test="accountName != null" >
                #{accountName,jdbcType=VARCHAR},
            </if>
            <if test="data != null" >
                #{data,jdbcType=VARCHAR},
            </if>
            <if test="startDatetime != null" >
                #{startDatetime,jdbcType=TIMESTAMP},
            </if>
            <if test="createdDatetime != null" >
                #{createdDatetime,jdbcType=TIMESTAMP},
            </if>
            <if test="endDatetime != null" >
                #{endDatetime,jdbcType=TIMESTAMP},
            </if>
            <if test="deviceSid != null" >
                #{deviceSid,jdbcType=VARCHAR},
            </if>
            <if test="recordDate != null" >
                #{recordDate,jdbcType=TIMESTAMP}
            </if>
        </trim>
    </insert>

    <select id="countByExample" parameterType="com.skytech.api.model.SleepExample" resultType="java.lang.Integer" >
        select count(*) from sleep
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </select>

    <update id="updateByExampleSelective" parameterType="map" >
        update sleep
        <set >
            <if test="sid != null" >
            sid= #{sid,jdbcType=VARCHAR},
            </if>
            <if test="accountSid != null" >
            account_sid= #{accountSid,jdbcType=VARCHAR},
            </if>
            <if test="accountName != null" >
            account_name= #{accountName,jdbcType=VARCHAR},
            </if>
            <if test="data != null" >
            data= #{data,jdbcType=VARCHAR},
            </if>
            <if test="startDatetime != null" >
            start_datetime= #{startDatetime,jdbcType=TIMESTAMP},
            </if>
            <if test="createdDatetime != null" >
            created_datetime= #{createdDatetime,jdbcType=TIMESTAMP},
            </if>
            <if test="endDatetime != null" >
            end_datetime= #{endDatetime,jdbcType=TIMESTAMP},
            </if>
            <if test="deviceSid != null" >
            device_sid= #{deviceSid,jdbcType=VARCHAR},
            </if>
            <if test="recordDate != null" >
            record_date= #{recordDate,jdbcType=TIMESTAMP}
            </if>
        </set>
        <if test="_parameter != null" >
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>

    <update id="updateByExample" parameterType="map" >
        update sleep
        set
        sid= #{sid,jdbcType=VARCHAR},
        account_sid= #{accountSid,jdbcType=VARCHAR},
        account_name= #{accountName,jdbcType=VARCHAR},
        data= #{data,jdbcType=VARCHAR},
        start_datetime= #{startDatetime,jdbcType=TIMESTAMP},
        created_datetime= #{createdDatetime,jdbcType=TIMESTAMP},
        end_datetime= #{endDatetime,jdbcType=TIMESTAMP},
        device_sid= #{deviceSid,jdbcType=VARCHAR},
        record_date= #{recordDate,jdbcType=TIMESTAMP}
        <if test="_parameter != null" >
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.skytech.api.model.Sleep" >
        update sleep
        <set >
            <if test="sid != null" >
                sid= #{sid,jdbcType=VARCHAR},
            </if>
            <if test="accountSid != null" >
                account_sid= #{accountSid,jdbcType=VARCHAR},
            </if>
            <if test="accountName != null" >
                account_name= #{accountName,jdbcType=VARCHAR},
            </if>
            <if test="data != null" >
                data= #{data,jdbcType=VARCHAR},
            </if>
            <if test="startDatetime != null" >
                start_datetime= #{startDatetime,jdbcType=TIMESTAMP},
            </if>
            <if test="createdDatetime != null" >
                created_datetime= #{createdDatetime,jdbcType=TIMESTAMP},
            </if>
            <if test="endDatetime != null" >
                end_datetime= #{endDatetime,jdbcType=TIMESTAMP},
            </if>
            <if test="deviceSid != null" >
                device_sid= #{deviceSid,jdbcType=VARCHAR},
            </if>
            <if test="recordDate != null" >
                record_date= #{recordDate,jdbcType=TIMESTAMP}
            </if>
        </set>
        where sid = #{sid,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.skytech.api.model.Sleep" >
        update sleep
        set
        sid= #{sid,jdbcType=VARCHAR},
        account_sid= #{accountSid,jdbcType=VARCHAR},
        account_name= #{accountName,jdbcType=VARCHAR},
        data= #{data,jdbcType=VARCHAR},
        start_datetime= #{startDatetime,jdbcType=TIMESTAMP},
        created_datetime= #{createdDatetime,jdbcType=TIMESTAMP},
        end_datetime= #{endDatetime,jdbcType=TIMESTAMP},
        device_sid= #{deviceSid,jdbcType=VARCHAR},
        record_date= #{recordDate,jdbcType=TIMESTAMP}
        where sid = #{sid,jdbcType=VARCHAR}
    </update>
</mapper>