<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.skytech.api.mapper.TCourseTimeMapper">
  <resultMap id="BaseResultMap" type="com.skytech.api.model.TCourseTime">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="courseId" jdbcType="INTEGER" property="courseid" />
    <result column="weekId" jdbcType="INTEGER" property="weekid" />
    <result column="startCourseTime" jdbcType="TIMESTAMP" property="startcoursetime" />
    <result column="endCourseTime" jdbcType="TIMESTAMP" property="endcoursetime" />
    <result column="classId" jdbcType="INTEGER" property="classid" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="updateTime" jdbcType="TIMESTAMP" property="updatetime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, courseId, weekId, startCourseTime, endCourseTime, classId, createTime, updateTime
  </sql>
  <select id="selectByExample" parameterType="com.skytech.api.model.TCourseTimeExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_course_time
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_course_time
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_course_time
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.skytech.api.model.TCourseTimeExample">
    delete from t_course_time
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.skytech.api.model.TCourseTime">
    insert into t_course_time (id, courseId, weekId, 
      startCourseTime, endCourseTime, classId, 
      createTime, updateTime)
    values (#{id,jdbcType=INTEGER}, #{courseid,jdbcType=INTEGER}, #{weekid,jdbcType=INTEGER}, 
      #{startcoursetime,jdbcType=TIMESTAMP}, #{endcoursetime,jdbcType=TIMESTAMP}, #{classid,jdbcType=INTEGER}, 
      #{createtime,jdbcType=TIMESTAMP}, #{updatetime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.skytech.api.model.TCourseTime">
    insert into t_course_time
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="courseid != null">
        courseId,
      </if>
      <if test="weekid != null">
        weekId,
      </if>
      <if test="startcoursetime != null">
        startCourseTime,
      </if>
      <if test="endcoursetime != null">
        endCourseTime,
      </if>
      <if test="classid != null">
        classId,
      </if>
      <if test="createtime != null">
        createTime,
      </if>
      <if test="updatetime != null">
        updateTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="courseid != null">
        #{courseid,jdbcType=INTEGER},
      </if>
      <if test="weekid != null">
        #{weekid,jdbcType=INTEGER},
      </if>
      <if test="startcoursetime != null">
        #{startcoursetime,jdbcType=TIMESTAMP},
      </if>
      <if test="endcoursetime != null">
        #{endcoursetime,jdbcType=TIMESTAMP},
      </if>
      <if test="classid != null">
        #{classid,jdbcType=INTEGER},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null">
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.skytech.api.model.TCourseTimeExample" resultType="java.lang.Integer">
    select count(*) from t_course_time
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_course_time
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.courseid != null">
        courseId = #{record.courseid,jdbcType=INTEGER},
      </if>
      <if test="record.weekid != null">
        weekId = #{record.weekid,jdbcType=INTEGER},
      </if>
      <if test="record.startcoursetime != null">
        startCourseTime = #{record.startcoursetime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.endcoursetime != null">
        endCourseTime = #{record.endcoursetime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.classid != null">
        classId = #{record.classid,jdbcType=INTEGER},
      </if>
      <if test="record.createtime != null">
        createTime = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updatetime != null">
        updateTime = #{record.updatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_course_time
    set id = #{record.id,jdbcType=INTEGER},
      courseId = #{record.courseid,jdbcType=INTEGER},
      weekId = #{record.weekid,jdbcType=INTEGER},
      startCourseTime = #{record.startcoursetime,jdbcType=TIMESTAMP},
      endCourseTime = #{record.endcoursetime,jdbcType=TIMESTAMP},
      classId = #{record.classid,jdbcType=INTEGER},
      createTime = #{record.createtime,jdbcType=TIMESTAMP},
      updateTime = #{record.updatetime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.skytech.api.model.TCourseTime">
    update t_course_time
    <set>
      <if test="courseid != null">
        courseId = #{courseid,jdbcType=INTEGER},
      </if>
      <if test="weekid != null">
        weekId = #{weekid,jdbcType=INTEGER},
      </if>
      <if test="startcoursetime != null">
        startCourseTime = #{startcoursetime,jdbcType=TIMESTAMP},
      </if>
      <if test="endcoursetime != null">
        endCourseTime = #{endcoursetime,jdbcType=TIMESTAMP},
      </if>
      <if test="classid != null">
        classId = #{classid,jdbcType=INTEGER},
      </if>
      <if test="createtime != null">
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null">
        updateTime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.skytech.api.model.TCourseTime">
    update t_course_time
    set courseId = #{courseid,jdbcType=INTEGER},
      weekId = #{weekid,jdbcType=INTEGER},
      startCourseTime = #{startcoursetime,jdbcType=TIMESTAMP},
      endCourseTime = #{endcoursetime,jdbcType=TIMESTAMP},
      classId = #{classid,jdbcType=INTEGER},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      updateTime = #{updatetime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>