<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.skytech.api.mapper.TCourseMapper">
  <resultMap id="BaseResultMap" type="com.skytech.api.model.TCourse">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="dictId" jdbcType="INTEGER" property="dictid" />
    <result column="userId" jdbcType="INTEGER" property="userid" />
    <result column="isCoupon" jdbcType="INTEGER" property="iscoupon" />
    <result column="upper" jdbcType="INTEGER" property="upper" />
    <result column="coverUrl" jdbcType="VARCHAR" property="coverurl" />
    <result column="courseBody" jdbcType="VARCHAR" property="coursebody" />
    <result column="month" jdbcType="VARCHAR" property="month" />
    <result column="companyId" jdbcType="INTEGER" property="companyid" />
    <result column="storesId" jdbcType="INTEGER" property="storesid" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="updateTime" jdbcType="TIMESTAMP" property="updatetime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, title, dictId, userId, isCoupon, upper, coverUrl, courseBody, month, companyId, 
    storesId, status, createTime, updateTime
  </sql>
  <select id="selectByExample" parameterType="com.skytech.api.model.TCourseExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_course
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="pagination != null and pagination.begin >= 0" >
      limit #{pagination.begin}, #{pagination.pageSize}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_course
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_course
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.skytech.api.model.TCourseExample">
    delete from t_course
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.skytech.api.model.TCourse">
    insert into t_course (id, title, dictId, 
      userId, isCoupon, upper, 
      coverUrl, courseBody, month, 
      companyId, storesId, status, 
      createTime, updateTime)
    values (#{id,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{dictid,jdbcType=INTEGER}, 
      #{userid,jdbcType=INTEGER}, #{iscoupon,jdbcType=BIT}, #{upper,jdbcType=INTEGER}, 
      #{coverurl,jdbcType=VARCHAR}, #{coursebody,jdbcType=VARCHAR}, #{month,jdbcType=VARCHAR}, 
      #{companyid,jdbcType=INTEGER}, #{storesid,jdbcType=INTEGER}, #{status,jdbcType=BIT}, 
      #{createtime,jdbcType=TIMESTAMP}, #{updatetime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.skytech.api.model.TCourse">
    insert into t_course
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="dictid != null">
        dictId,
      </if>
      <if test="userid != null">
        userId,
      </if>
      <if test="iscoupon != null">
        isCoupon,
      </if>
      <if test="upper != null">
        upper,
      </if>
      <if test="coverurl != null">
        coverUrl,
      </if>
      <if test="coursebody != null">
        courseBody,
      </if>
      <if test="month != null">
        month,
      </if>
      <if test="companyid != null">
        companyId,
      </if>
      <if test="storesid != null">
        storesId,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="createtime != null">
        createTime,
      </if>
      <if test="updatetime != null">
        updateTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="dictid != null">
        #{dictid,jdbcType=INTEGER},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="iscoupon != null">
        #{iscoupon,jdbcType=BIT},
      </if>
      <if test="upper != null">
        #{upper,jdbcType=INTEGER},
      </if>
      <if test="coverurl != null">
        #{coverurl,jdbcType=VARCHAR},
      </if>
      <if test="coursebody != null">
        #{coursebody,jdbcType=VARCHAR},
      </if>
      <if test="month != null">
        #{month,jdbcType=VARCHAR},
      </if>
      <if test="companyid != null">
        #{companyid,jdbcType=INTEGER},
      </if>
      <if test="storesid != null">
        #{storesid,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=BIT},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null">
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.skytech.api.model.TCourseExample" resultType="java.lang.Integer">
    select count(*) from t_course
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_course
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.title != null">
        title = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.dictid != null">
        dictId = #{record.dictid,jdbcType=INTEGER},
      </if>
      <if test="record.userid != null">
        userId = #{record.userid,jdbcType=INTEGER},
      </if>
      <if test="record.iscoupon != null">
        isCoupon = #{record.iscoupon,jdbcType=BIT},
      </if>
      <if test="record.upper != null">
        upper = #{record.upper,jdbcType=INTEGER},
      </if>
      <if test="record.coverurl != null">
        coverUrl = #{record.coverurl,jdbcType=VARCHAR},
      </if>
      <if test="record.coursebody != null">
        courseBody = #{record.coursebody,jdbcType=VARCHAR},
      </if>
      <if test="record.month != null">
        month = #{record.month,jdbcType=VARCHAR},
      </if>
      <if test="record.companyid != null">
        companyId = #{record.companyid,jdbcType=INTEGER},
      </if>
      <if test="record.storesid != null">
        storesId = #{record.storesid,jdbcType=INTEGER},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=BIT},
      </if>
      <if test="record.createtime != null">
        createTime = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updatetime != null">
        updateTime = #{record.updatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_course
    set id = #{record.id,jdbcType=INTEGER},
      title = #{record.title,jdbcType=VARCHAR},
      dictId = #{record.dictid,jdbcType=INTEGER},
      userId = #{record.userid,jdbcType=INTEGER},
      isCoupon = #{record.iscoupon,jdbcType=BIT},
      upper = #{record.upper,jdbcType=INTEGER},
      coverUrl = #{record.coverurl,jdbcType=VARCHAR},
      courseBody = #{record.coursebody,jdbcType=VARCHAR},
      month = #{record.month,jdbcType=VARCHAR},
      companyId = #{record.companyid,jdbcType=INTEGER},
      storesId = #{record.storesid,jdbcType=INTEGER},
      status = #{record.status,jdbcType=BIT},
      createTime = #{record.createtime,jdbcType=TIMESTAMP},
      updateTime = #{record.updatetime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.skytech.api.model.TCourse">
    update t_course
    <set>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="dictid != null">
        dictId = #{dictid,jdbcType=INTEGER},
      </if>
      <if test="userid != null">
        userId = #{userid,jdbcType=INTEGER},
      </if>
      <if test="iscoupon != null">
        isCoupon = #{iscoupon,jdbcType=BIT},
      </if>
      <if test="upper != null">
        upper = #{upper,jdbcType=INTEGER},
      </if>
      <if test="coverurl != null">
        coverUrl = #{coverurl,jdbcType=VARCHAR},
      </if>
      <if test="coursebody != null">
        courseBody = #{coursebody,jdbcType=VARCHAR},
      </if>
      <if test="month != null">
        month = #{month,jdbcType=VARCHAR},
      </if>
      <if test="companyid != null">
        companyId = #{companyid,jdbcType=INTEGER},
      </if>
      <if test="storesid != null">
        storesId = #{storesid,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=BIT},
      </if>
      <if test="createtime != null">
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null">
        updateTime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.skytech.api.model.TCourse">
    update t_course
    set title = #{title,jdbcType=VARCHAR},
      dictId = #{dictid,jdbcType=INTEGER},
      userId = #{userid,jdbcType=INTEGER},
      isCoupon = #{iscoupon,jdbcType=BIT},
      upper = #{upper,jdbcType=INTEGER},
      coverUrl = #{coverurl,jdbcType=VARCHAR},
      courseBody = #{coursebody,jdbcType=VARCHAR},
      month = #{month,jdbcType=VARCHAR},
      companyId = #{companyid,jdbcType=INTEGER},
      storesId = #{storesid,jdbcType=INTEGER},
      status = #{status,jdbcType=BIT},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      updateTime = #{updatetime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>