<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.skytech.api.mapper.TEventMapper">
  <resultMap id="BaseResultMap" type="com.skytech.api.model.TEvent">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="event_name" jdbcType="VARCHAR" property="eventName" />
    <result column="event_info" jdbcType="VARCHAR" property="eventInfo" />
    <result column="start_date" jdbcType="DATE" property="startDate" />
    <result column="end_date" jdbcType="DATE" property="endDate" />
    <result column="event_pic" jdbcType="VARCHAR" property="eventPic" />
    <result column="detail_url" jdbcType="VARCHAR" property="detailUrl" />
    <result column="stores_id" jdbcType="INTEGER" property="storesId" />
    <result column="comany_id" jdbcType="INTEGER" property="comanyId" />
    <result column="event_upper" jdbcType="INTEGER" property="eventUpper" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime" />
    <result column="bak1" jdbcType="VARCHAR" property="bak1" />
    <result column="bak2" jdbcType="VARCHAR" property="bak2" />
    <result column="bak3" jdbcType="VARCHAR" property="bak3" />
    <result column="bak4" jdbcType="VARCHAR" property="bak4" />
    <result column="bak5" jdbcType="VARCHAR" property="bak5" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, event_name, event_info, start_date, end_date, event_pic, detail_url, stores_id, 
    comany_id, event_upper, created_time, updated_time, bak1, bak2, bak3, bak4, bak5
  </sql>
  <select id="selectByExample" parameterType="com.skytech.api.model.TEventExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_event
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="pagination != null and pagination.begin >= 0" >
      limit #{pagination.begin}, #{pagination.pageSize}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_event
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_event
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.skytech.api.model.TEventExample">
    delete from t_event
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.skytech.api.model.TEvent">
    insert into t_event (id, event_name, event_info, 
      start_date, end_date, event_pic, 
      detail_url, stores_id, comany_id, 
      event_upper, created_time, updated_time, 
      bak1, bak2, bak3, bak4, 
      bak5)
    values (#{id,jdbcType=INTEGER}, #{eventName,jdbcType=VARCHAR}, #{eventInfo,jdbcType=VARCHAR}, 
      #{startDate,jdbcType=DATE}, #{endDate,jdbcType=DATE}, #{eventPic,jdbcType=VARCHAR}, 
      #{detailUrl,jdbcType=VARCHAR}, #{storesId,jdbcType=INTEGER}, #{comanyId,jdbcType=INTEGER}, 
      #{eventUpper,jdbcType=INTEGER}, #{createdTime,jdbcType=TIMESTAMP}, #{updatedTime,jdbcType=TIMESTAMP}, 
      #{bak1,jdbcType=VARCHAR}, #{bak2,jdbcType=VARCHAR}, #{bak3,jdbcType=VARCHAR}, #{bak4,jdbcType=VARCHAR}, 
      #{bak5,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.skytech.api.model.TEvent">
    insert into t_event
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="eventName != null">
        event_name,
      </if>
      <if test="eventInfo != null">
        event_info,
      </if>
      <if test="startDate != null">
        start_date,
      </if>
      <if test="endDate != null">
        end_date,
      </if>
      <if test="eventPic != null">
        event_pic,
      </if>
      <if test="detailUrl != null">
        detail_url,
      </if>
      <if test="storesId != null">
        stores_id,
      </if>
      <if test="comanyId != null">
        comany_id,
      </if>
      <if test="eventUpper != null">
        event_upper,
      </if>
      <if test="createdTime != null">
        created_time,
      </if>
      <if test="updatedTime != null">
        updated_time,
      </if>
      <if test="bak1 != null">
        bak1,
      </if>
      <if test="bak2 != null">
        bak2,
      </if>
      <if test="bak3 != null">
        bak3,
      </if>
      <if test="bak4 != null">
        bak4,
      </if>
      <if test="bak5 != null">
        bak5,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="eventName != null">
        #{eventName,jdbcType=VARCHAR},
      </if>
      <if test="eventInfo != null">
        #{eventInfo,jdbcType=VARCHAR},
      </if>
      <if test="startDate != null">
        #{startDate,jdbcType=DATE},
      </if>
      <if test="endDate != null">
        #{endDate,jdbcType=DATE},
      </if>
      <if test="eventPic != null">
        #{eventPic,jdbcType=VARCHAR},
      </if>
      <if test="detailUrl != null">
        #{detailUrl,jdbcType=VARCHAR},
      </if>
      <if test="storesId != null">
        #{storesId,jdbcType=INTEGER},
      </if>
      <if test="comanyId != null">
        #{comanyId,jdbcType=INTEGER},
      </if>
      <if test="eventUpper != null">
        #{eventUpper,jdbcType=INTEGER},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedTime != null">
        #{updatedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="bak1 != null">
        #{bak1,jdbcType=VARCHAR},
      </if>
      <if test="bak2 != null">
        #{bak2,jdbcType=VARCHAR},
      </if>
      <if test="bak3 != null">
        #{bak3,jdbcType=VARCHAR},
      </if>
      <if test="bak4 != null">
        #{bak4,jdbcType=VARCHAR},
      </if>
      <if test="bak5 != null">
        #{bak5,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.skytech.api.model.TEventExample" resultType="java.lang.Integer">
    select count(*) from t_event
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_event
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.eventName != null">
        event_name = #{record.eventName,jdbcType=VARCHAR},
      </if>
      <if test="record.eventInfo != null">
        event_info = #{record.eventInfo,jdbcType=VARCHAR},
      </if>
      <if test="record.startDate != null">
        start_date = #{record.startDate,jdbcType=DATE},
      </if>
      <if test="record.endDate != null">
        end_date = #{record.endDate,jdbcType=DATE},
      </if>
      <if test="record.eventPic != null">
        event_pic = #{record.eventPic,jdbcType=VARCHAR},
      </if>
      <if test="record.detailUrl != null">
        detail_url = #{record.detailUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.storesId != null">
        stores_id = #{record.storesId,jdbcType=INTEGER},
      </if>
      <if test="record.comanyId != null">
        comany_id = #{record.comanyId,jdbcType=INTEGER},
      </if>
      <if test="record.eventUpper != null">
        event_upper = #{record.eventUpper,jdbcType=INTEGER},
      </if>
      <if test="record.createdTime != null">
        created_time = #{record.createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updatedTime != null">
        updated_time = #{record.updatedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.bak1 != null">
        bak1 = #{record.bak1,jdbcType=VARCHAR},
      </if>
      <if test="record.bak2 != null">
        bak2 = #{record.bak2,jdbcType=VARCHAR},
      </if>
      <if test="record.bak3 != null">
        bak3 = #{record.bak3,jdbcType=VARCHAR},
      </if>
      <if test="record.bak4 != null">
        bak4 = #{record.bak4,jdbcType=VARCHAR},
      </if>
      <if test="record.bak5 != null">
        bak5 = #{record.bak5,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_event
    set id = #{record.id,jdbcType=INTEGER},
      event_name = #{record.eventName,jdbcType=VARCHAR},
      event_info = #{record.eventInfo,jdbcType=VARCHAR},
      start_date = #{record.startDate,jdbcType=DATE},
      end_date = #{record.endDate,jdbcType=DATE},
      event_pic = #{record.eventPic,jdbcType=VARCHAR},
      detail_url = #{record.detailUrl,jdbcType=VARCHAR},
      stores_id = #{record.storesId,jdbcType=INTEGER},
      comany_id = #{record.comanyId,jdbcType=INTEGER},
      event_upper = #{record.eventUpper,jdbcType=INTEGER},
      created_time = #{record.createdTime,jdbcType=TIMESTAMP},
      updated_time = #{record.updatedTime,jdbcType=TIMESTAMP},
      bak1 = #{record.bak1,jdbcType=VARCHAR},
      bak2 = #{record.bak2,jdbcType=VARCHAR},
      bak3 = #{record.bak3,jdbcType=VARCHAR},
      bak4 = #{record.bak4,jdbcType=VARCHAR},
      bak5 = #{record.bak5,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.skytech.api.model.TEvent">
    update t_event
    <set>
      <if test="eventName != null">
        event_name = #{eventName,jdbcType=VARCHAR},
      </if>
      <if test="eventInfo != null">
        event_info = #{eventInfo,jdbcType=VARCHAR},
      </if>
      <if test="startDate != null">
        start_date = #{startDate,jdbcType=DATE},
      </if>
      <if test="endDate != null">
        end_date = #{endDate,jdbcType=DATE},
      </if>
      <if test="eventPic != null">
        event_pic = #{eventPic,jdbcType=VARCHAR},
      </if>
      <if test="detailUrl != null">
        detail_url = #{detailUrl,jdbcType=VARCHAR},
      </if>
      <if test="storesId != null">
        stores_id = #{storesId,jdbcType=INTEGER},
      </if>
      <if test="comanyId != null">
        comany_id = #{comanyId,jdbcType=INTEGER},
      </if>
      <if test="eventUpper != null">
        event_upper = #{eventUpper,jdbcType=INTEGER},
      </if>
      <if test="createdTime != null">
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedTime != null">
        updated_time = #{updatedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="bak1 != null">
        bak1 = #{bak1,jdbcType=VARCHAR},
      </if>
      <if test="bak2 != null">
        bak2 = #{bak2,jdbcType=VARCHAR},
      </if>
      <if test="bak3 != null">
        bak3 = #{bak3,jdbcType=VARCHAR},
      </if>
      <if test="bak4 != null">
        bak4 = #{bak4,jdbcType=VARCHAR},
      </if>
      <if test="bak5 != null">
        bak5 = #{bak5,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.skytech.api.model.TEvent">
    update t_event
    set event_name = #{eventName,jdbcType=VARCHAR},
      event_info = #{eventInfo,jdbcType=VARCHAR},
      start_date = #{startDate,jdbcType=DATE},
      end_date = #{endDate,jdbcType=DATE},
      event_pic = #{eventPic,jdbcType=VARCHAR},
      detail_url = #{detailUrl,jdbcType=VARCHAR},
      stores_id = #{storesId,jdbcType=INTEGER},
      comany_id = #{comanyId,jdbcType=INTEGER},
      event_upper = #{eventUpper,jdbcType=INTEGER},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      updated_time = #{updatedTime,jdbcType=TIMESTAMP},
      bak1 = #{bak1,jdbcType=VARCHAR},
      bak2 = #{bak2,jdbcType=VARCHAR},
      bak3 = #{bak3,jdbcType=VARCHAR},
      bak4 = #{bak4,jdbcType=VARCHAR},
      bak5 = #{bak5,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>