<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.skytech.api.mapper.UserDataMapper">
  <resultMap id="BaseResultMap" type="com.skytech.api.model.UserData">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="account_sid" jdbcType="VARCHAR" property="accountSid" />
    <result column="member_id" jdbcType="INTEGER" property="memberId" />
    <result column="userdata_id" jdbcType="INTEGER" property="userdataId" />
    <result column="data_actual" jdbcType="DECIMAL" property="dataActual" />
    <result column="data_goal" jdbcType="DECIMAL" property="dataGoal" />
    <result column="appUser" jdbcType="VARCHAR" property="appuser" />
    <result column="up_to_standard" jdbcType="INTEGER" property="upToStandard" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, account_sid, member_id, userdata_id, data_actual, data_goal, appUser, up_to_standard, 
    created_time, updated_time
  </sql>
  <select id="selectByExample" parameterType="com.skytech.api.model.UserDataExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from user_data
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="pagination != null and pagination.begin >= 0" >
      limit #{pagination.begin}, #{pagination.pageSize}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user_data
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user_data
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.skytech.api.model.UserDataExample">
    delete from user_data
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.skytech.api.model.UserData">
    insert into user_data (id, account_sid, member_id, 
      userdata_id, data_actual, data_goal, 
      appUser, up_to_standard, created_time, 
      updated_time)
    values (#{id,jdbcType=INTEGER}, #{accountSid,jdbcType=VARCHAR}, #{memberId,jdbcType=INTEGER}, 
      #{userdataId,jdbcType=INTEGER}, #{dataActual,jdbcType=DECIMAL}, #{dataGoal,jdbcType=DECIMAL}, 
      #{appuser,jdbcType=VARCHAR}, #{upToStandard,jdbcType=BIT}, #{createdTime,jdbcType=TIMESTAMP}, 
      #{updatedTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.skytech.api.model.UserData">
    insert into user_data
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="accountSid != null">
        account_sid,
      </if>
      <if test="memberId != null">
        member_id,
      </if>
      <if test="userdataId != null">
        userdata_id,
      </if>
      <if test="dataActual != null">
        data_actual,
      </if>
      <if test="dataGoal != null">
        data_goal,
      </if>
      <if test="appuser != null">
        appUser,
      </if>
      <if test="upToStandard != null">
        up_to_standard,
      </if>
      <if test="createdTime != null">
        created_time,
      </if>
      <if test="updatedTime != null">
        updated_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="accountSid != null">
        #{accountSid,jdbcType=VARCHAR},
      </if>
      <if test="memberId != null">
        #{memberId,jdbcType=INTEGER},
      </if>
      <if test="userdataId != null">
        #{userdataId,jdbcType=INTEGER},
      </if>
      <if test="dataActual != null">
        #{dataActual,jdbcType=DECIMAL},
      </if>
      <if test="dataGoal != null">
        #{dataGoal,jdbcType=DECIMAL},
      </if>
      <if test="appuser != null">
        #{appuser,jdbcType=VARCHAR},
      </if>
      <if test="upToStandard != null">
        #{upToStandard,jdbcType=BIT},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedTime != null">
        #{updatedTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.skytech.api.model.UserDataExample" resultType="java.lang.Integer">
    select count(*) from user_data
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update user_data
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.accountSid != null">
        account_sid = #{record.accountSid,jdbcType=VARCHAR},
      </if>
      <if test="record.memberId != null">
        member_id = #{record.memberId,jdbcType=INTEGER},
      </if>
      <if test="record.userdataId != null">
        userdata_id = #{record.userdataId,jdbcType=INTEGER},
      </if>
      <if test="record.dataActual != null">
        data_actual = #{record.dataActual,jdbcType=DECIMAL},
      </if>
      <if test="record.dataGoal != null">
        data_goal = #{record.dataGoal,jdbcType=DECIMAL},
      </if>
      <if test="record.appuser != null">
        appUser = #{record.appuser,jdbcType=VARCHAR},
      </if>
      <if test="record.upToStandard != null">
        up_to_standard = #{record.upToStandard,jdbcType=BIT},
      </if>
      <if test="record.createdTime != null">
        created_time = #{record.createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updatedTime != null">
        updated_time = #{record.updatedTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update user_data
    set id = #{record.id,jdbcType=INTEGER},
      account_sid = #{record.accountSid,jdbcType=VARCHAR},
      member_id = #{record.memberId,jdbcType=INTEGER},
      userdata_id = #{record.userdataId,jdbcType=INTEGER},
      data_actual = #{record.dataActual,jdbcType=DECIMAL},
      data_goal = #{record.dataGoal,jdbcType=DECIMAL},
      appUser = #{record.appuser,jdbcType=VARCHAR},
      up_to_standard = #{record.upToStandard,jdbcType=BIT},
      created_time = #{record.createdTime,jdbcType=TIMESTAMP},
      updated_time = #{record.updatedTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.skytech.api.model.UserData">
    update user_data
    <set>
      <if test="accountSid != null">
        account_sid = #{accountSid,jdbcType=VARCHAR},
      </if>
      <if test="memberId != null">
        member_id = #{memberId,jdbcType=INTEGER},
      </if>
      <if test="userdataId != null">
        userdata_id = #{userdataId,jdbcType=INTEGER},
      </if>
      <if test="dataActual != null">
        data_actual = #{dataActual,jdbcType=DECIMAL},
      </if>
      <if test="dataGoal != null">
        data_goal = #{dataGoal,jdbcType=DECIMAL},
      </if>
      <if test="appuser != null">
        appUser = #{appuser,jdbcType=VARCHAR},
      </if>
      <if test="upToStandard != null">
        up_to_standard = #{upToStandard,jdbcType=BIT},
      </if>
      <if test="createdTime != null">
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedTime != null">
        updated_time = #{updatedTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.skytech.api.model.UserData">
    update user_data
    set account_sid = #{accountSid,jdbcType=VARCHAR},
      member_id = #{memberId,jdbcType=INTEGER},
      userdata_id = #{userdataId,jdbcType=INTEGER},
      data_actual = #{dataActual,jdbcType=DECIMAL},
      data_goal = #{dataGoal,jdbcType=DECIMAL},
      appUser = #{appuser,jdbcType=VARCHAR},
      up_to_standard = #{upToStandard,jdbcType=BIT},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      updated_time = #{updatedTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>